# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\智能船舱\Tugmaster\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
